<%- include("partials/header") %>
<h2>Hello <%=name%></h2>
<div class="home">
  <% list.reverse().forEach(function(i){ %>
    <h3><%= i.title %></h3>
    <p><%= i.date %></p>
    <p><%= i.content.substring(0,100) %>...<a href="/news/<%=i.title %>">Read More</a></p>
  <% }); %>
</div>


<%- include("partials/footer") %>
